!!! 5
%html{lang: "en-US"}
  %head
    %title Welcome to Sugar
    %meta{charset: "UTF-8"}
    %meta{content: "width=device-width", "maximum-scale": "1.0,", name: "viewport", "user-scalable": "0,"}
  %body
    %header
      .container
        %h1
          %a{href: "/"} Welcome to Sugar!
    .container
      %section
        %article.blog_post
          %h1
            %a{href: "//sugar-framework.github.io/"} Learning about Sugar
          %p
            See the first post
          %a.button.readmore{href: "//sugar-framework.github.io/docs/"} Read the docs
    %footer
      .container
        %p
          A web framework for Elixir
          %br
          %a{href: "//github.com/sugar-framework", target: "_blank"} Sugar Framework